$size: 60px;

$background-color-matched: green;
$background-color-included: rgb(201, 180, 88);
$background-color-not-included: rgb(120, 124, 126);

.input {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  max-width: $size;
  aspect-ratio: 1 / 1;
  font-size: 30px;
  border: 2px solid rgb(211, 214, 218);
}

.input__matched {
  background-color: $background-color-matched;
  color: #ffffff;
}
.input__included {
  background-color: $background-color-included;
  color: #ffffff;
}
.input__not__included {
  background-color: $background-color-not-included;
  color: #ffffff;
}
