@import "@/styles/variables.scss";

$size: 60px;

.input {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  max-width: $size;
  aspect-ratio: 1 / 1;
  font-size: 30px;
  border: 2px solid rgb(211, 214, 218);
  box-sizing: content-box;
  background-color: rgba(239,239,239,0.3);
}

.input__matched {
  background-color: $background-color-matched;
  color: #ffffff;
}
.input__included {
  background-color: $background-color-included;
  color: #ffffff;
}
.input__not__included {
  background-color: $background-color-not-included;
  color: #ffffff;
}
