$size: 60px;

$background-color-matched: green;
$background-color-included: rgb(120, 124, 126);
$background-color-not-included: rgb(201, 180, 88);

.input {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: $size;
  height: $size;
  font-size: 30px;
}

.input__matched {
  background-color: $background-color-matched;
}
.input__included {
  background-color: $background-color-included;
}
.input__not__included {
  background-color: $background-color-not-included;
}
