@import "@/styles/variables.scss";

.keyboard__matched {
  background-color: $background-color-matched !important;
  color: #ffffff;
}
.keyboard__included {
  background-color: $background-color-included !important;
  color: #ffffff;
}
.keyboard__not__included {
  background-color: $background-color-not-included !important;
  color: #ffffff;
}

.keyboard__container {
  margin: 0 5px;
}