html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* react-simple-keyboard */
.react-simple-keyboard{
  margin: 4px 0 15px 0;
  flex: 1;
}
.hg-row{
  margin-bottom: 10px !important;
}
.hg-button{
  height: 55px !important;
}