#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    max-width: 500px;
    margin: auto;
}

.input__group__container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px 0;
    margin: 0 auto;
}