#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    max-width: 500px;
    margin: 5px auto;
}

.input__group__container {
    display: grid;
    justify-content: center;
    row-gap: 5px;
    height: 70%;
    padding: 10px;
}